.Button {
    background: rgb(30,116,191);
    background: linear-gradient(90deg, rgba(30,116,191,1) 0%, rgba(1,190,239,1) 100%);
    border-radius: 30px;
    border: none;
    position: absolute;
    color: #fff;
    font-weight: 600;
}

.Button.sm {
    width: 60px;
}

.Button.md {
    width: 100px;
}

.Button.lg {
    width: 150px;
}

.Button__Elem_rg {
    right: 0;
}

.Button__Elem img {
    padding: .2rem .5rem;
    z-index: 0;
}
svg {
    color: #fff;
    font-size: .8rem;
}

@media screen and (min-width: 1000px) {
    .Button {
        position: absolute;
    }
    .Button__Elem_rg {
        margin: auto;        
    }
    .Button__Elem img {
        padding: .2rem .5rem;
        right: 0;
    }
}