.MediaTypeSelectors {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.MediaTypeSelectors button {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem;
    background: #ffffff18;
    color: #eee;
    border: none;
}

.BtnActive {
    background: linear-gradient(90deg, rgba(30, 116, 191, 1) 0%, rgba(1, 190, 239, 1) 100%) !important;
}

.Container__main {
    display: flex;
    flex-direction: column;
}

.Container__main h2:first-child {
    font-size: 2rem;
}

.Container__main ul:last-child {
    padding: 1rem 0;
}