.GenreList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: .7rem;
}

.GenreList a {
    text-decoration: none;
}

.GenreList > a li {
    list-style: none;
    background: #ffffff18;
    color: #eee;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem;
}

.GenreList > a li:active,
.GenreList > a li:hover,
.GenreList .GenreList__Active {
    background: linear-gradient(90deg, rgba(30,116,191,1) 0%, rgba(1,190,239,1) 100%);
}