.MovieLink {
    color: var(--main-font-color);
    text-decoration: none;
}
.Movie {
    max-width: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.Movie:hover {
    transform: scale(1.05);
    z-index: 99;
}
.Movie__posterCnt {
    transform: scale(1.05);
}

.Movie__poster{
    width: 185px;
    height: 278px;
    border-radius: .2rem;
}

.Movie__title {
    padding: .1rem;
    margin: 0;
    text-align: center;
    font-weight: 600;
}