@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;800&display=swap');

:root {
  --main-bg-color : #111112;
  --main-font-color: rgb(250, 250, 250);
  --second-bg-color: #EEEEEE;
  --second-font-color: #4AABE0;
  --third-bg-color: #181818;
  --third-font-color: gray;
  --forth-bg-color: #1F1F1F;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background: var(--main-bg-color);
  color: var(--main-font-color);
  overflow-x: hidden;
  font-family: 'Assistant', sans-serif;
  
}

.Main {
  max-width: 1200px;
  margin: auto;
  margin-top: 70px;
}

@media screen and (max-width: 1400px) { 
  .Main {
    max-width: 1200px;
  }
}