:root {
  --main-bg-color : #111112;
  --main-font-color: #fff;
  --second-bg-color: #EEEEEE;
  --second-font-color: #4AABE0;
  --third-bg-color: #181818;
  --third-font-color: gray;
  --forth-bg-color: #1F1F1F;
}

body {
  background: var(--main-bg-color);
  color: var(--main-font-color);
  overflow-x: hidden;
}

.Main {
  max-width: 1200px;
  margin: auto;
  margin-top: 70px;
}

@media screen and (max-width: 1400px) { 
  .Main {
    max-width: 1200px;
  }
}